<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Ystävänvälityspalvelu</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/ystavapalvelu.css" />
    </head>


    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="#">Ystävänvälityspalvelu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="#">Omat tiedot</a></li>
                        <li><a href="#">Omat sivut</a></li>
                        <li><a href="#">Minulle jaetut sivut</a></li>
                        <li><a href="#">Selaa sivuja</a></li>
                        <li><a href="#">Viestit</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <form th:action="@{~/editPage}" th:object="${pageInfo}" method="post">
                <div class="form-group">
                    <label for="otsikko">Otsikko</label>
                    <input id="otsikko" name="otsikko" type="text" class="form-control"  placeholder="Esittelysivun otsikko" value="Etsin jalkapallokaveria"/>
                </div>
                <div class="form-group">
                    <label for="leipateksti">Leipäteksti</label>
                    <textarea id="leipateksti" name="leipateksti"  class="form-control" rows="10">Hei! Etsin kaikenikäistä kaveria pelaamaan kanssani jalkapalloa</textarea>
                </div>
                <div class="form-group">
                    <label for="julkinen">Sivu on julkinen</label>
                    <input type="checkbox" id="julkinen" value="julkinen" aria-label="" class="disabled" checked/>
                </div>
                <button type="submit" class="btn btn-primary">Päivitä</button>
                <a href="#"class="btn btn-danger">Poista</a>
            </form>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="/static/js/jquery.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
    </body>


</html>
