<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Ystävänvälityspalvelu</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/ystavapalvelu.css" />
    </head>


    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="/">Ystävänvälityspalvelu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a th:href="${'/profile/' + kayttajaid}">Omat tiedot</a></li>
                        <li><a href="/mypages">Omat sivut</a></li>
                        <li><a href="/sharedpages">Minulle jaetut sivut</a></li>
                        <li><a href="/pagelist">Selaa sivuja</a></li>
                        <li><a href="/mymessages">Viestit</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div id="results">
                <div class="row">
                    <div class="well">
                        <strong><span th:text="${esittelysivu.otsikko}">__</span></strong>
                        <ul>
                            <li th:text="${esittelysivu.omistaja_id}">Nimi</li>
                            <li th:text="${'Julkisuus: ' + ((esittelysivu.julkinen) ? 'Julkinen' : 'Yksityinen')}">Julkisuus: ???</li>
                            <li th:text="${'Luotu: ' + esittelysivu.luotu}">Luotu ___</li>
                            <li th:text="${'Muokattu: ' + esittelysivu.muokattu}">Muokattu 15.11.2016 17:15</li>
                        </ul>
                        <p th:text="${esittelysivu.leipateksti}">leipateksti</p>
                        <a th:hidden="${mypage}" class="btn btn-default" th:href="${'/sendmessage/' + esittelysivu.sivu_id}">Laita viesti</a>
                        <a th:hidden="${!mypage}" class="btn btn-warning" th:href="${'/page/' + esittelysivu.sivu_id + '/edit'}">Muokkaa</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="/static/js/jquery.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
    </body>


</html>
