<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Ystävänvälityspalvelu</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/ystavapalvelu.css" />
    </head>
    
    
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="/">Ystävänvälityspalvelu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li th:hidden="${kirjautunut}"><a th:hidden="${kirjautunut}" th:href="${'/profile/' + kayttajaid}">Omat tiedot</a></li>
                        <li th:hidden="${kirjautunut}"><a th:hidden="${kirjautunut}" href="/mypages">Omat sivut</a></li>
                        <li th:hidden="${kirjautunut}"><a th:hidden="${kirjautunut}" href="/sharedpages">Minulle jaetut sivut</a></li>
                        <li th:hidden="${kirjautunut}"><a th:hidden="${kirjautunut}" href="/pagelist">Selaa sivuja</a></li>
                        <li th:hidden="${kirjautunut}"><a th:hidden="${kirjautunut}" href="/mymessages">Viestit</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li th:hidden="${!kirjautunut}"><a th:hidden="${!kirjautunut}" href="/login">Kirjaudu sisään</a></li>
                        <li th:hidden="${!kirjautunut}"><a th:hidden="${!kirjautunut}" href="/register">Rekisteröidy</a></li>
                        <li th:hidden="${kirjautunut}"><a th:hidden="${kirjautunut}" href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron etusivubanner">
                <h1>Ystävänvälityspalvelu <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>
                <small>PariTELE Oy, vuodesta 2016</small>
                <p th:hidden="${!kirjautunut}">
                    Rekisteröidy palveluumme ja löydä unelmien ystäväsi! 
                    Palvelu tarjoaa yksinäisille suomalaisille tavan löytää uusia tuttavuuksia ja ystäviä! 
                    Kokeile sinäkin ja tuo ystäväsi palveluun mukaan!
                </p>
                <div th:hidden="${!norights}" class="alert alert-danger">
                    Sinulla ei ole tarvittavia oikeuksia!
                </div>
                <p th:hidden="${kirjautunut}">
                    <span th:hidden="${kirjautunut}" th:text="${'Terve ' + kayttaja}" > Et ole kirjautunut</span>
                </p>
                <h3 th:hidden="${!kirjautunut}"> Syitä rekisteröityä </h3>
                <ul th:hidden="${!kirjautunut}">
                    <li>Edullista</li>
                    <li>Ei huijareita</li>
                    <li>Ensimmäinen kuukausi ilmaiseksi</li>
                    <li>Tutustumishalusia ihmisiä</li>
                </ul>
                <a th:hidden="${!kirjautunut}" class="btn btn-default" href="/register">Rekisteröidy</a>
                <a th:hidden="${!kirjautunut}" class="btn btn-default" href="/login">Kirjaudu sisään</a>
                
            </div>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="/static/js/jquery.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
    </body>
    
    
</html>
