<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Ystävänvälityspalvelu</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/ystavapalvelu.css" />
    </head>
    
    
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="/">Ystävänvälityspalvelu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a th:href="${'/profile/' + kayttajaid}">Omat tiedot</a></li>
                        <li><a href="/mypages">Omat sivut</a></li>
                        <li><a href="/sharedpages">Minulle jaetut sivut</a></li>
                        <li><a href="/pagelist">Selaa sivuja</a></li>
                        <li><a href="/mymessages">Viestit</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <span th:text="${tekeminen + targetAsiakas.kayttajanimi}"></span>
            <form class="lomake" th:action="@{~/message/{targetId}/sendf(targetId=${targetAsiakas.id})}" th:object="${messageInfo}" method="post">
                <div class="form-group">
                    <label for="sisalto">Viestin sisältö</label>
                    <textarea id="sisalto" name="sisalto"  class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="anonyymiys">Viesti on anonyymi</label>
                    <input type="checkbox" id="anonyymiys" name="anonyymiys" aria-label="" th:checked="${(validatedinput.lahettaja == -1)}"/>
                </div>
                <button type="submit" class="btn btn-success">Lähetä viesti</button>
            </form>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="/static/js/jquery.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
    </body>
    
    
</html>