<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Ystävänvälityspalvelu</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/ystavapalvelu.css" />
</head>


<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Sovelluksen nimi -->
            <a class="navbar-brand" href="/">Ystävänvälityspalvelu</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li class="active" ><a href="/laskut">Laskut</a></li>
                <li><a href="/statistiikka">Statistiikka</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logoutadmin">Kirjaudu ulos</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Asiakas 1</th>
            <th>Asiakas 2</th>
            <th>Aika</th>
            <th>Laskutettu</th>
            <th>Laskuttaja</th>
            <th>Laskutus aika</th>
            <th>Toiminnot</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ystavapari : ${ystavaparit}">
            <td>
                <span th:text="${ystavapari.asiakas1nimi}">???</span>
            </td>
            <td>
                <span th:text="${ystavapari.asiakas2nimi}">???</span>
            </td>
            <td>
                <span th:text="${ystavapari.aika}">???</span>
            </td>
            <td>
                <span th:text="${ystavapari.laskutettu}">???</span>
            </td>
            <td>
                <span th:text="${ystavapari.laskuttajanimi}">???</span>
            </td>
            <td>
                <span th:text="${ystavapari.laskutusaika}">???</span>
            </td>
            <td>
                <span th:href="${'/page/' + esittelysivu.sivu_id + '/edit'}" class="btn btn-warning">Laskuta</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Add jQuery for bootstrap -->
<script src="/static/js/jquery.js"></script>
<!-- Add Bootstrap -->
<script src="/static/js/bootstrap.js"></script>
</body>


</html>
