<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Ystävänvälityspalvelu</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/ystavapalvelu.css"/>
</head>


<body>
<div class="container">
    <h1>Kirjaudu sisään</h1>
    <div th:hidden="${!badcreds || adminlogin}" class="alert alert-danger">
        Väärä nimi tai salasana!
    </div>
    <div th:hidden="${!badcreds || !adminlogin}" class="alert alert-danger">
        Väärä nimi tai salasana!<br/><br/>
        HUOM! Tämä login sivu on vain ylläpitäjille.
    </div>
    <a th:classappend="${adminlogin} ? hidden : t" th:href="${'loginadmin'}" class="btn btn-warning">Ylläpitäjä-kirjautuminen</a>

    <form class="lomake" th:action="@{~/{address}(address=${(adminlogin)? 'loginadmin' : 'login'})}" th:object="${loginInfo}" method="post">
        <div class="form-group">
            <label for="kayttajanimi">Käyttäjänimesi</label>
            <input id="kayttajanimi" name="kayttajanimi" type="text" class="form-control" placeholder="Nimimerkkisi"/>
        </div>
        <div class="form-group">
            <label for="salasana">Salasana</label>
            <input id="salasana" name="salasana" type="password" class="form-control" placeholder="Salasanasi"/>
        </div>
        <button type="submit" class="btn btn-success">Kirjaudu sisään</button>
    </form>
</div>
<!-- Add jQuery for bootstrap -->
<script src="/static/js/jquery.js"></script>
<!-- Add Bootstrap -->
<script src="/static/js/bootstrap.js"></script>
</body>


</html>