<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Ystävänvälityspalvelu</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/ystavapalvelu.css" />
    </head>


    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="/">Ystävänvälityspalvelu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li class="active" ><a th:href="${'/profile/' + kayttajaid}">Omat tiedot</a></li>
                        <li><a href="/mypages">Omat sivut</a></li>
                        <li><a href="/sharedpages">Minulle jaetut sivut</a></li>
                        <li><a href="/pagelist">Selaa sivuja</a></li>
                        <li><a href="/mymessages">Viestit</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div th:hidden="${!updated}" class="alert alert-success">
                Tiedot Päivitetty!
            </div>
            <div  th:each="virhe : ${errors}" class="row alert alert-danger" role="alert" >
                <span th:text="${virhe}"></span>
            </div>
            <form class="lomake" th:action="@{~/profile/{profileId}/update(profileId=${kayttajaid})}" th:object="${pageInfo}" method="post">
                <div class="form-group">
                    <label for="nimimerkki">Nimimerkki</label>
                    <input id="nimimerkki" name="nimimerkki" type="text" class="form-control disabled" placeholder="" th:value="${kayttajatiedot.kayttajanimi}" />
                </div>
                <div class="form-group">
                    <label for="salasana">Uusi Salasana</label>
                    <input id="salasana" name="salasana" type="password" class="form-control"   />
                </div>
                <div class="form-group">
                    <label for="syntymaaika">Syntymäaika</label>
                    <input id="syntymaaika" name="syntymaaika" type="text" class="form-control" placeholder="" th:value="${kayttajatiedot.prettyPrint(kayttajatiedot.syntymaaika)}" />
                </div>
                <div class="form-group">
                    <label for="liittynyt">Liittynyt</label>
                    <input id="liittynyt" name="liittynyt" type="text" class="form-control disabled"  placeholder="" th:value="${kayttajatiedot.prettyPrint(kayttajatiedot.liittynyt)}" />
                </div>
                <div class="form-group">
                    <label for="sukupuoli">Sukupuoli</label>
                    <select id="sukupuoli" name="sukupuoli" class="form-control" th:selected="${kayttajatiedot.sukupuoliString()}">
                        <option>Mies</option>
                        <option>Nainen</option>
                        <option>Muu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="osoite">Osoite</label>
                    <input id="osoite" name="osoite" type="text" class="form-control" placeholder="" th:value="${kayttajatiedot.osoite}" />
                </div>
                <button type="submit" class="btn btn-success">Päivitä</button>

                <a class="btn btn-danger" th:href="${'/profile/' + kayttajaid + '/delete'}">Poista Käyttäjä</a>
            </form>
        </div>
        <!-- Add jQuery for bootstrap -->
        <script src="/static/js/jquery.js"></script>
        <!-- Add Bootstrap -->
        <script src="/static/js/bootstrap.js"></script>
    </body>


</html>